body {
    font-family: 'Montserrat Alternates', sans-serif;
}

.container-fluid {
    padding: 2% 10% 16%;
}

#title {
    background-color: #ff4c68;
    color: white;
}

h1 {
    margin-left: 1rem; margin-top: 2rem;
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.8rem;
    line-height: 1.5;
    font-weight: bolder;
}

.iphone {
    padding-top: 2rem;
    width: 20%;
    transform: rotate(30deg);
    position: absolute; 
    right: 25%; top: 25%;
}

@media (max-width: 1216px) {
.iphone {
    width: 40%;
    position: static;
    transform: rotate(0deg);
    margin-left: auto; margin-right: auto; margin-top: 3rem;
    text-align: center;
}

#title {
    text-align: center;
}
    
}

/* Navigation Bar */

.navbar {
    padding-left: 0;
}

.nav-link {
    font-size: 1.2rem;
}

.navbar-brand {
    margin-left:1rem;
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

/* Download Buttons */
.download-button{
    font-family: "Ubuntu";
    font-weight: bold;
    margin-top: 1.5rem;
    margin-left: 1rem;
}

/* Features */
#features {
    padding-left: 12%; padding-right: 12%; padding-top: 8%; padding-bottom: 8%;
    background-color: white;
    position: relative;
    z-index: 1;
}

.feature-column {
    text-align: center;
}

.feature_symbol {
    color: salmon;
    font-size: 450%;
}

.feature_symbol:hover {
    color:#ff4c68;
}

.feature-slogan {
    font-family: 'Montserrat';
    font-weight: bold;
}

.feature-description {
    color: #8f8f8f;
    font-weight: bold;
}

/* Testimonials */

#testimonials {
    padding-left: 12%; padding-right: 12%; padding-top: 4%; padding-bottom: 4%;
    background-color: #ef8172;
}

.testimonial-image {
    border-radius: 100%;
}

h2 {
    font-size: 3rem;
}

.testimonial-text {
    clear: left;
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 5rem;
    line-height: 0;
    color: white;
    font-weight: bolder;
}

.testimonial-row {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.person-text {
    font-size: 2rem;
    color: gray;
}

/* Press */
#press {
    padding-left: 2%; padding-right: 2%; padding-top: 4%;
    background-color: #ef8172;
    text-align: center;
}

.hr-press {
    width: 100%;
} 

.press-logo {
    margin: 20px 20px 50px;
    width: 15%;
}

/* Pricing-carousel */
#pricing-carousel {
    text-align: center;
    padding-top: 4%;
}

.pricing-header {
    font-family: "Ubuntu";
}

.package-header {
    font-size: 2.4rem;
}

.package-item {
    font-size: 2rem;
    font-weight: bold;
    color: darkgreen;
}

.carousel-inner {
    height: 30rem;
    margin-top: 3%;
    padding-bottom: 2%;
    background-color: #ff4c68;
}

.carousel-item {
    padding-top: 1.5%;
}

.carousel-control-next-icon {
    color: blue;
}

/* Pricing-cards */
#pricing-cards {
    padding: 5% 5%;
    text-align: center;
}

.card {
    margin: 5%;
}

.card-package-header {
    font-weight: bold;
    font-size: 2.4rem;
}

.card-package-item {
    color: darkgreen;
    font-weight: bold;
    font-size: 1.25rem;
}

.col-container {
    display: table;
    width: 100%;
}

.pricing-column {
    padding: 3% 2%;
    display: table-cell;
}

/* Call to action */

.cta-container {
    text-align: center;
    padding: 6% 25% 6%;
    background-color: #ff4c68;
}

.cta-header {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Montserrat-Black';
    color: white
}

.cta-button {
    margin-top: 2rem;
    display: inline-block;
    margin-left: 1rem; margin-right: 1rem;
}

/* Footer */

#footer {
    padding: 8% 0 2%;
    color: white;
    text-align: center;
}

.footer-brand {
    color: gray;
    margin-left: 0.5rem; margin-right: 0.5rem; margin-bottom: 1rem;
    display: inline-block;
}

.p-footer {
    color: gray;
    font-weight: lighter;
    font-size: 1rem;
}